<div class="myClass">
    <div class="form-control">
        <input [(ngModel)]="search" type="text" placeholder="Search posts..."/>
    </div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Title</th>
            <th class="mediaBrkPoint">Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody >
        <tr [style.backgroundColor]="(idx%2 === 0) ? 'white': '#f4f4f4'" *ngFor="let post of post | searchPosts: search; let idx = index"  >
            <td>{{idx + 1}}</td>
            <td>{{post.author}}</td>
            <td>{{post.title}}</td>
            <td class="mediaBrkPoint">{{post.date | date: 'medium'}}</td>
            <td>
                <button class="btn btn-link open" [routerLink]="['/admin', 'post', post.id, 'edit']">
                    Open
                </button>
                <a (click)="removePost(post.id)">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

